h1, h2 {
  text-align: center;
}
.card{
  overflow: hidden;
}
.card-text {
  word-wrap: break-word;
}
.scroll {
  max-height: 700px;
  overflow-y: auto;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}